<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>xyz</display-name>
  <servlet>
    <servlet-name>ex1</servlet-name>
    <servlet-class>study.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex1</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ex2</servlet-name>
    <servlet-class>study.SecondServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex2</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ex3</servlet-name>
    <servlet-class>study.InputServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex3</servlet-name>
    <url-pattern>/input</url-pattern>
  </servlet-mapping>
</web-app>